@media (max-width:2560px) {

  body{overflow-x: hidden;

  }
  .a{margin-right:250px;
    background-color: rgb(248 249 250);
    width: 1905px;
  padding:45px;}
.a  {margin-top: -30px;

  }
  
   }
  .b{margin-left: 900px;
    margin-top: -152px;
   font-size: 25px;

  }
  .b li{ display: inline-block;
   margin-right: 60px;
   padding: 28px;
   
  }
   
      .navbar-brand{margin-left: 60px;

      }
      .nav-item2 {margin-left: -20px;

      }
      .nav-link {margin-right: -80px;
        

      }
      .b :hover{
        color:orangered;
      }
      
      .nav-link {color: black;
        
        margin-left: -80px;
        font-size: 21px;

      }
      
      .nav-link2 {color: black;
        font-size: 21px;
      }
       
      
      .navbar-brand {color: black;
        margin-left:  30px;

      }
        
        
      
    .img{background-image: url(img/about.jpg);
           height: 500px;
           color: white;}
           
           
    
    
  .img a{color: white;
    text-decoration: none;
    
     
             
  }
    
 .img h5 {
  margin-left: 90px;
          margin-top: 50px;
  }
   
 
 .img h1{margin-left: -308px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    
 }

    
.head{background-color: rgb(151, 141, 141);
        
}
.home{
  margin-top: 25px;
     z-index: 999;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.about{
  background-color: darkgray;
  margin-top: 65px;
   
  width: 350px;
  border-radius: 25px;
  margin-left: -140px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.about h5{margin-top: 66px;
  margin-left: 200px;
  text-align: center;
  
}
.about a{color: rgb(21, 251, 29);

}


.img1{margin-top: 150px;
      margin-left: 280px; 
      padding-left: 10%; 
      
}

.aimg{margin-left: -290px;margin-top: 200px;
      position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
      border-radius: 150px 150px 150px 150px;
      overflow: hidden;
      width: 30%;
      height: 470px;}

.aimg2{margin-left: 40px;
      position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
      border-radius: 150px 150px 150px 150px;
      overflow: hidden;
      width: 30%;
      height: 470px;
      

      }
      .aimg2 img{margin-left: -15px;
                  margin-top: -4px;
      }
      .aimg img{margin-left: -7px;

      }
     .national{font-size: large;
        text-align: justify;
       
        margin-left: 10px;
        margin-top: -100px;
        
           
              font-family:Verdana, Geneva, Tahoma, sans-serif;
     }
 
     .button {
      margin-left: 400px;
        margin-top: -40px;
    }
     
   .button .btn {background-color: green;
  
    padding: 14px 40px;
    border-radius: 40px;
   
    width: 300px;
   }
   .btn :hover{color: black;

   }
   .button img{margin-left: 240px;
    margin-top: -95px;

   }
   .btn a{color: black;
    text-decoration: none;

   }
   .three{margin-top: 200px;
    padding: 20px 0px;

   }
   .ms1{box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
         height: 350px;
         width: 400px;
         margin-left: -150px;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
         .ms1 img{margin-left: 90px;

         }
         .ms1 h5{margin-left: 30px;

         }
         .ms1 h2{color: brown;
          margin-left: 120px ;

         }
         .ms1 h2 :hover{color: chartreuse;

         }
   
   .ms2{box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
         height: 350px;
         width: 400px;
         margin-left: -50px;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
   }

    
         .ms2 img{margin-left: 90px;

         }
         .ms2 h5{margin-left: 30px;

         }
         .ms2 h2{color: blueviolet;
          margin-left: 120px ;

         }
             .ms1:hover h2{color: chartreuse;

         }
           .ms2:hover h2{color: chartreuse;

         }
           .ms3:hover h2{color: chartreuse;

         }
   .ms3{box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
          height: 350px;
         width: 400px;
         margin-left: 50px;
          font-family:Verdana, Geneva, Tahoma, sans-serif;  

   }
      
         .ms3 img{margin-left: 90px;

         }
         .ms3 h5{margin-left: 30px;

         }
         .ms3 h2{color:purple;
          margin-left: 90px ;

         }
         .ms3 h2 :hover{color: chartreuse;

         }
   
        
         
    footer {  
      background-color: black;
      color: white;
      width: 1930px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-left: -12px;
        padding: 70px  0px;
        border-top:1px solid #00458d;
        margin-top: 70px;
            
    }

    .copyrights {
      
        background:black;

        width: 1930px;
        margin-left: -26px;
        padding: 10px 0px;
        margin-bottom: -48px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .copyrights p {font-size: medium;
      padding-right: -50px;
      white-space:nowrap;
        margin-bottom: 10px;
        color: gray;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

  
  


     .about{margin-top: 10px;
      margin-left: -170px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: black;
     }

  .daily{margin-left: 18px;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;}
  .daily h2{color: white;

  }
  
  .about img{margin-top: -50px;

  }
  .about a{
            text-decoration: none;
  }

    .link a{color: gray;
          
      font-family:Verdana, Geneva, Tahoma, sans-serif;
           text-decoration: none;
        
     }
     
    .link a:hover{color: orange;

    }
     
    .copyrights strong{color: white;

    } 
    
     .location  {color: gray;
             

     } 
     
      .mail{
        margin-left: -8px;
         margin-top: -5px;
      }
      
      
     .nat h6:hover{color: orange;

     }
     .nat{margin-left: 29px;

     }

